.game-list-card-detail {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.game-list-card-detail-upper {
  min-height: 150px;
}

.game-list-card-detail-under {
  display: flex;
  justify-content: right;
  margin-right: 16px;
}
