/* パネル割合設定 */
:root {
  /* NOTE：ヘッダーの高さ */
  /* --header-height: 7vh; */

  /* パネル全体の割合 */
  --left-panel-ratio: 55%;
  --right-panel-ratio: 45%;

  /* 左パネル内の割合 */
  --parallel-coordinates-ratio: 100%;

  /* 右パネル内の割合 */
  --game-ratio: 100%;
}

/* レイアウトコンテナ */
.layout-container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* 左パネル（30%） */
.left-panel {
  flex: 0 0 var(--left-panel-ratio);
  background-color: var(--left-panel-bg);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 右パネル（70%） */
.right-panel {
  flex: 0 0 var(--right-panel-ratio);
  background-color: var(--baseball-field-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* 各パネルの画面エリア */
.panel-screen {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.panel-screen:first-child {
  border-bottom: 1px solid var(--border-color);
}

.panel-header {
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-header h2 {
  margin-top: 0;
  color: var(--text-color);
}

/* 各パネルの個別サイズ設定 */
.parallel-panel {
  flex: 1;
  height: 100%;
}

.game-panel {
  flex: 1;
  height: 100%;
}

/* パネル内のコンテンツエリア */
.panel-content {
  flex: 1;
  padding: 0.5vh;
  overflow-y: auto;
}

.panel-content h2 {
  margin-top: 0;
  padding-bottom: 10px;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }

  .left-panel {
    flex: 0 0 40%;
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }

  .right-panel {
    flex: 0 0 60%;
  }

  .panel-content {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .panel-content {
    padding: 10px;
  }
}

/* scoresにNo Dataを追加 */

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.scores-no-data-text {
  font-weight: bold;
  font-size: 30px;
  color: #666;
}
