/* パネル割合設定 */
:root {
  /* ゲームスコアボードの高さ */
  --game-score-board-height: 25%;
  /* ゲームフィールドの高さ */
  --game-field-height: 60%;
  /* ゲームコントローラの高さ */
  --game-controller-height: 15%;
}

.simulation-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

.game-score-board {
  width: 100%;
  height: var(--game-score-board-height);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard-container {
  width: 30vw;
  height: 75%;
}

.game-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--game-field-height);
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.field-background {
  width: 50vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.field-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw; /* 背景と同じ幅にする */
  height: 100%;
  pointer-events: none;
}

.runners-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ランナーの配置位置 */
.runner {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 20%;
}

.runner-name {
  color: white;
  height: 20%;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* ランナーの画像 */
.runner-img {
  height: 80%;
}

/* ピッチャーの画像 */

.pitcher {
  position: absolute;
  top: 65%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.pitcher-img {
  width: 40px;
  height: auto;
}

.runner-img-wrapper {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ベースの位置 */
.first-base {
  top: 59%;
  left: 67%;
}

.second-base {
  top: 42%;
  left: 52%;
}

.third-base {
  top: 59%;
  left: 37%;
}

/* パルスアニメーション */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.game-controller {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--game-controller-height);
  position: relative;
}

.game-controller-left-arrow {
  width: 7%;
  height: 42%;
  position: absolute;
  bottom: 16%;
  left: 0%;
}

.game-controller-item {
  width: 86%;
  height: 100%;
}

.game-controller-right-arrow {
  width: 7%;
  height: 42%;
  position: absolute;
  bottom: 16%;
  right: 0%;
}

.error-message .no-data {
  font-size: 32px !important;
  color: #666;
  text-align: center;
  font-weight: bold;
}

.homerun-img {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 1200px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
}

.out-img {
  position: absolute;
  top: 22%;
  left: 53%;
  width: 1000px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 15;
}

.hit-img {
  position: absolute;
  top: 19%;
  left: 53%;
  width: 1000px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 15;
}

.double-img {
  position: absolute;
  top: 10%;
  left: 53%;
  width: 1000px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 15;
}

.triple-img {
  position: absolute;
  top: 20%;
  left: 53%;
  width: 1000px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 15;
}
